if SHIELD_LKPLERGO_LEFT

config ZMK_KEYBOARD_NAME
    default "lkplergo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LKPLERGO_LEFT || SHIELD_LKPLERGO_RIGHT

config ZMK_SPLIT
    default y

endif